
body {
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    background-color: #fff;
    overflow-x: hidden; // chay menu footer ko cho hien thanh kéo ra
}

a,a:focus,a:hover {
    text-decoration: none;
}
h3,h2{margin:0;padding:0}

:focus{outline:none !important} // bo di border cua text
body,p {
    margin: 0px;
    padding: 0px;
}
.clear {
    clear: both;
}
.clearfix:after{
    clear: both;
    content: '';
   display: block;
}
img{
    max-width: 100%;
}
@mixin ul-menu(){
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.container{width:1200px;margin:0 auto;padding:0;position:relative}

header{
    .banner_item{
        background: #003283;
        color: #fff;
        padding-top: 5px;
     //   padding-bottom: 10px;
     width: 100%;
    }
    .header-top{ 
      //  border: 1px solid red;
           // top:0;
            //z-index:99999;
        .container{
           // margin: 0px 10%;
            //  padding-top: 10px;
            //     padding-bottom: 10px;
            //     padding-left: 30px; 
            
            .banner1{
               
                float: left;
                font-size: 15px;  
              //  padding-bottom: 10px;
                line-height: 2.5;  // chu y
             //   margin-top: 16px;
             //  padding-top: 16px;
            //   padding-bottom: 10px;
                padding-left: 30px;  
                &:nth-child(1){  
                    background: url("../images/img_social/270848539755393.png") no-repeat;                      
                }
                &:nth-child(2){     
                    background: url("../images/img_social/270848539755393.png") no-repeat;   
                }
                &:nth-child(3){
                    background: url("../images/img_social/270848539755393.png") no-repeat;   
                }
            }
            .img_social{
                float:right;
              //  border: 1px solid red;
            }
            .search-top{
                float: right;
                width: 20%;
               // border: 1px solid red;
               // height: 20px;
               // margin-right: 30px;
               
                form#form-search{
              //     border: 1px solid #fff;
                    border-radius: 30px;
                     background: #fff; 
                     border: 0px;
                     height: 30px;
                }
                input#search_input{
                    width: 90%;
                    float: left;
                    padding: 6px; // chu y
                    font-size: 12px;
                    color: #929292;
                    border: none;
                    background: transparent; 
                   //box-sizing: border-box;
                  // line-height: 10px;
                }
                a#tnSearch{
                        width: 10%;
                       display: block;
                        float:right;
                        padding:5px 0;    
                        border: 1px solid red;
                        border: 0;
                     //   box-sizing: border-box;
                       // margin-right:0px;
                        img{
                            //  width: 100%;
                            // height: 20px;
                        
                            
                        }
                    }  
            }      
        }
    }
}
nav{    
    .menu-top{
     //   background: red;
        width: 100%;   
        margin-top: 20px; 
        position: relative; 
        //margin-bottom: 55px;
     
      
            .ddsmoothmenu{
                float:right;
                width:65%;
                margin-top:5px;
                margin-bottom: 3.1%;
                ul{
                    @include ul-menu();
                    li{
                        position: relative;
                        display: inline-block; // thay vi dung clear o div ddsmoothmenu
                      
                        z-index: 10000; // chu y
                        a{
                            color: #003283;
                            font-weight: 700;
                            display: block;
                            padding: 35px 8px;
                            //text-align: center;
                            text-transform: uppercase;
                            font-size: 16px;
                            &:hover{
                                color: #fff;
                                background: url("../images/hover_bg.png") repeat-x top center;
                                // &:after{
                                //     content: '';
                                //     top:1px;
                                //     left: 0px;
                                //     background: url("../images/hover_icon.png");
                                // }
                            }
                        }
                    }
                }
            }
        
    }
     #smoothmenu1{
        //  float:right;
        //  width:65%;
        //  margin-top:5px;
        //  margin-bottom: 3.1%;
         
    }
}
// .ddsmoothmenu ul li a.active {
//     color:#fff;
// 	background: url(../images/hover_icon.png)no-repeat 0px 0px, url(../images/hover_bg.png) repeat-x top center;
// }
// .ddsmoothmenu ul li a.selected:before{
//     content:'';
// 	width:7px;
// 	height:10px;
// 	position:absolute;
// 	top:0;
// 	left: -7px;
// 	background:  url(../images/hover_icon.png)no-repeat 0px 0px;
// }

// .ddsmoothmenu ul li a.selected{
// 	color:#fff;
//     background: url("../images/hover_bg.png") repeat-x top center;
// }
.ddsmoothmenu ul li a:focus{
    background: url("../images/hover_bg.png") repeat-x top center;
    color:#fff !important;
}




.ddsmoothmenu ul li ul{
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    width: 800px;
   // border: 1px solid #fff;
   // padding-left: 0px;
  background: #003283;
  //   overflow: visible !important; // 
    text-align: center;
  //  right: -100px !important; //
    
}
.ddsmoothmenu ul li ul li{
     //   display: list-item;
        width: 25%;
     //   line-height: 2px;
        box-sizing: border-box;
        float: left;
      
        &:nth-child(4n){
            margin-right: 0px;
        }
        &:nth-child(4n+1){
            clear: both;
        }
       
    }

.ddsmoothmenu ul li ul li a{
    font-weight: normal !important ;
   padding: 9px 10px !important;
    width: auto;
    color: #fff !important;
    text-align: left  !important;
   margin: 0px;
   background: none; // chu y ko co important
   text-align: center;
 border-top: thin solid #fff;
 
}

.ddsmoothmenu ul li:hover ul
{
    display:block;
  
}

.ddsmoothmenu ul li a:hover:after{
    content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    top:0px;
    left: -7px;
     background: url("../images/hover_icon.png") no-repeat 0px 0px;
}

.ddsmoothmenu ul li ul li a:hover:after{
    background: none;
    // content: '';
    // width: 7px;
    // height: 10px;
    // position: absolute;
    // top: 0px;
    // left: 0px;
}


.banner_top{
    float:left;  
    width:40%;
    padding-top:1%;
    margin-left: 15%;
   // border: 1px solid red;
//    / display: inline-block;
   position: absolute;
   margin-bottom: 5%;
 
}
.quality_index{
    position: relative;
    margin-top: -92px;
    z-index: 99;
    // width: 100%;
  //  margin-left: -92px;
    margin-top: -40px;
  .repon-item{width:24.9%;float:left;margin-top:41px;background:#003283;position:relative;margin-right:1px}

    
    
    .quality_index1{
        //     float: left;
        background: #003283;
        position: relative;
        margin-right: 1px;
        margin-top: 100px;
        width: 24.9%;
        
        &:first-child:before{
            content: '';
            position: absolute;
            background: url("../images/index1.png") no-repeat top center;
            width: 100%;
            height: 92px;
            top:-46px;
           
        }
        &:nth-child(2):before{
                background:url("../images/index2.png") no-repeat top center;width:100%;height:92px;position:absolute;top:-46px;content:'';
        }
        &:nth-child(3):before{
            content: '';
            position: absolute;
            background: url("../images/index3.png") no-repeat center;
            width: 100%;
            height: 92px;
            top:-46px;
        }
        &:nth-child(4):before{
            content: '';
            position: absolute;
            background: url("../images/index4.png") no-repeat center;
            width: 100%;
            height: 92px;
            top:-46px;
           
        }
        strong{
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
            padding: 13px 0px;
            position: relative; // chu y , de chữ  đè lên hình
            display: block; // cho nam chung 1 khoi
        }
        span{
            display: block;
            background: #f0f0f0;
            padding: 10px 20px;
            text-align: justify;
            font-size: 13px;
        }
    }
}




section{
    .title-index{
        margin: 10px;
        position: relative;
        h3{
            text-transform: uppercase;
            font-size: 30px;
            text-align: center;
           // display: inline-block;
           font-weight: 700;
          padding: 10px 0;
           color: #003283;
            &:before{
                content: '';
                position: absolute;
                background: url("../images/line_title_l.png") no-repeat center;
                width: 313px;
                height: 33px;
                left: 120px;
            }
            &:after{
                content: '';
                position: absolute;
                background: url("../images/line_title_r.png") no-repeat center;
                width: 313px;
                height: 33px;
                right: 120px;
            }
        }
    }
   
    .product-index{
        width:23.5%;
       // width: calc(97%/4);
       float: left;  
       position: relative;
     // border: 1px solid red;
        margin: 1% 1% 0 0;   
       overflow: hidden; // quan trong ,phong to hinh trong gioi han,phong to o trong khung
        img{
            width: 100%;
               transform: scale(1);
               transition: all 1s ease-out 0;
            //    &:hover{
            //     transform: scale(1.05); 
            //     transition: all 1s ease-out 0;
            
            //    }
        }
        b{
          position: absolute;
          display: block;
          bottom: 0px;
          left: 0px;
          right: 0px;
          text-align: center; // can right thì text-align moi tac dung o day
          background: rgba(0,0,0,0.6);
          color: #fff;
          padding: 10px;
            // &:hover{
            //     color: #ff0;
            //     padding: 15px 10px;
            // }
        }
        a:hover img{
            transform: scale(1.05); // phong to hinh
             transition: all 1s ease-out 0;
        }
        a:hover b {
            transition: 0.5s;
            color: #ff0;
            padding: 15px 10px;
        }
        &:nth-child(4n){
            margin-right: 0px;
        }
        &:nth-child(4n+1){
            clear: both;
        }
        
    }
    .tab_bottom{
        background: #f5f5f5;
        padding: 30px 0;
        margin: 30px 0;
    }
    .tabs{    
        .tabs_main{
            ul{
                @include ul-menu();
                width: 16%;
               
                position: absolute;
                left: 2px; // them bootstrap vao left:2px , ko bootstrap left:-63px
                top: 30px;
              //  border: 1px solid red;
                li{    
                    background: #c2c2c2;
                    font-weight: bold;
                    margin-bottom: 15px;
                
                    padding: 2px;
                     padding-left: 6px;
                    padding-right: 0; // xoa duong doc ben phai
                    border-radius:5px 0 0 5px;
                    cursor:pointer;
                    b{
                        display: block; // mau` trong o trang` day
                        color: #282828;
                        text-transform: uppercase;
                    //    border-radius:5px 0 0 5px;
                    //    border:1px solid red; 
                        background: #fff; 
                        padding: 8px 10px;
                    }
                    
                }
                li.active{
                    background: red;
                }
                li.active b{
                    color: red;
                }
            }
        }
        .tab_container{
            width: 84%;
            border: 2px solid #003283;
            float: right;
            border-radius: 20px;
            padding: 30px;
            height: 473px;
            background: #fff;
            #tab1{
                .news_1{
                    width: 44%;
                    float: left;
                    .news_name{
                            color: #003283;
                            font-size: 20px;
                            font-weight: bold;
                            text-transform: uppercase;
                            display: block;
                          div{
                              padding: 10px 0;
                              color: #282828;
                              text-align: justify;
                          }
                        
                    }
                    .news_img{
                            width: 100%;            
                    }
                    
                }
                .news_2{
                    width: 52%;
                    float: right;
                    height: 408px;
                   // overflow-y: auto;
                    padding-right:2%; 
                    .news_item{
                        padding-bottom:10px;
                        margin-bottom: 10px; 
                        border-bottom: thin dashed #d7d7d7;
                        min-height: 51px;
                        .news_name{
                            text-transform: uppercase;
                            color: #282828;
                            font-weight: 400;
                            font-size: 14px;
                            &:hover{
                                color: #003283;
                                font-weight: 600;
                                transition: 2s;
                            }
                        }   
                    }
                }
            }
            #tab5{
              //  display: none;
            }   
           
        }
    }
}   




footer{
    background: #003283;
    color: #fff;
    padding: 10px 0px;
    
  //  position: relative;
    .footer-title{
        font-size: 22px;
        text-transform: uppercase;
        color: red;
        font-weight: 700;
        text-shadow: 1px 0 0  #fff,-1px 0 0 #fff,0 1px 0 #fff,0 -1px 0 #fff,1px 1px #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff;
      //  border: 1px solid red;
        margin: 0;
        padding: 0;
    }
    .footer-left{
        width: 33%;
        float: left;
        
        .content-footer{
            ul{
                @include ul-menu();
                padding: 5px 0px;
                // border: 1px solid red;
                li{
                    line-height: 20px;                      
                }   
            }    
        }    
    }
    .footer-center{
        width: 33%;
        float: left;
    }
    .footer-right{
        width: 33%;
        float: left;
    }
}

.social-left{
    position: fixed; // di chuyen dc theo trang web
       width: 3pc;
       height: 3pc;
       z-index: 1000;
       background: none;
       margin-top: 100px; 
       a{
           img{
               display: block; // tao 1 khoi mat khoảng cách ở các img
            }
          
       }
    
}
.social-left a img:hover{
    padding-left: 10px;
    transition: 1s;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
 
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
 
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 
 @-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }
 
 @-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }
 
 @keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }


.banner_item{background:#003283;color:#fff;padding-top:5px;padding-bottom:10px}

@media (min-width: 1200px){
    .container{
        width: 1200px;
        position: relative;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 1200px){
    .container{
        width: 100%;
        position: relative;
        // margin: 0 auto;
        // padding: 0;
    }
    .social-left{
        display: none;
    }
    .quality_index .repon-item{
        width: 22.5%;
        float: none;
        display: inline-block; // cho nam len cung 1 hang
        margin-top: 41px;
        margin-right: 0;
    } 
  
}
@media (max-width: 1020px) { 
    .header-top{
        position: relative;
       // text-align: center;
    }
    header{
        .banner_item{
            text-align: center;
        }
        .header-top{  
            .container{
                width: 100%;  
                .banner1{
                     float: none;
                     font-size:13px;            
                    display:inline-block; // can inline-block de canh giua hinh va chu
                     line-height:2.5;                                   
                }
                .img_social{
                    float: right;
                    width: 100%;
                    text-align: center;
                }
                .search-top{
                    width: 60%;
                    float: none;
                    margin: 0 auto;
                    padding: 1% 0;
                }    
            }
        }     
    }
}

@media (max-width: 767px){
    section .product-index{
      width: 100%;
      float: none;
      margin: 1% 0;
  }
 
  .tabs{    
    .tabs_main{
        ul{
            width:100% !important;
            position:relative !important;
            top:0;
            left:0;
            text-align:center;
           // background: red;
           li{
               
               border-radius:5px 5px 0 0;
               cursor:pointer;
               display:inline-block; // thanh 1 khoi hang` ngang
               width:19%;
               padding:2px;
               padding-bottom:0;
               padding-top:5px;
               //padding-left: 6px;
               vertical-align:top;
               margin-bottom:0;
               b{
                display:block;
                color:#282828;
                text-transform:uppercase;
                padding:5px;
                border-radius:5px 5px 0 0;
                background:#fff;
                text-align:center;
                min-height:50px;
               }
           }
        }
    }
    .tab_container{
        width: 100% !important;
        float: none !important;
        //border-radius:5px; 
        padding: 10px;
        height: auto !important;
        margin-top: 20px;
        #tab1{
            .news_1{
                width: 100% !important;
                float: none !important;
            }
            .news_2{
                 width: 100% !important;
                 float: none !important;
               //  height: 400px !important;
            }
        }
    }
}
 
  
 
}
@media (max-width:555px){
    section .product-index{
        width: 100%;
        float: none;
       margin-bottom: 2%;
    }

    .quality_index .repon-item{
        width: 100%;
        margin-bottom: 2%;
    }
    .quality_index .repon-item strong {
        padding: 15px 0;
    }
    .quality_index .repon-item span {
        padding: 10px;
    }

    footer{ 
        // .footer-top{
        //     margin: 2%;
        // }
      
        .footer-left {
            float: none;
            width: 100%;
            margin-bottom: 5%;
        }
        .footer-center{
            float: none ;
            width: 100%;
            margin-bottom: 5%;
        }
        .footer-right{
            float: none ;
            width: 100%;
            margin-bottom: 5%;
        }
   }
   .tabs_main ul li{
      //  box-sizing: border-box;
   }
   .tabs_main ul li b{
       min-height: 70px !important;
       font-size: 14px;
   }
   

   
}
@media (max-width: 480px){
    .tabs_main ul li{
     // display: block !important;
       width: 100% !important;
       
      // padding: 2px;
      // vertical-align: top;
       //  margin-top: 15px;
     //  margin-bottom:55px !important;
       b{
           min-height: auto !important;
           border-radius:0; 
       }
    }
}
